{% extends 'pages/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
  About
{% endblock %}

{% block content %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'images/about.jpeg' %}" class="d-block mx-lg-auto img-fluid" alt="About" width="700" height="500" loading="lazy" />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
        <p class="lead">Welcome to my website! My name is [Your Name], and I am a [Your Occupation/Job Title]. I created this website to share my passion for [Your Specialty/Hobby] and provide a platform for my personal projects and writings. Explore my website to learn more about me and my interests!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
