{% extends 'pages/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
  About
{% endblock %}

{% block content %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'images/about.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="About" width="700" height="500" loading="lazy" />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
        <p class="lead">Welcome to my website! My name is Hamed Mohammadi, and I am a Writer/Developer/Engineer. I created this website to share my passion for writin, developing software, my goals and achievements and provide a platform for my personal projects and writings. Explore my website to learn more about me and my interests!</p>
      </div>
    </div>
  </div>
{% endblock %}
