{% extends 'pages/bootstrap.html' %}

{% load bootstrap5 %}

{% block title %}
  (no title)
{% endblock %}

{% block bootstrap5_content %}
  <div class="container">
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'pages:home' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'pages:about' %}">ABOUT</a>
      </li>
    </ul>

    {% block content %}
      (no content)
    {% endblock %}
  </div>
{% endblock %}
