{% extends 'pages/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
  Home
{% endblock %}

{% block content %}
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        {% for carousel in carousels %}
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="{{ carousel.title }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#eee" />
            <image xlink:href="{% static 'images/banner.jpg' %}" x="0" y="0" width="100%" height="100%" />
          </svg>

          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="text-dark">{{ site_name }}</h1>
              <p class="text-dark">{{ site_description }}</p>
              <p>
                <a class="btn btn-lg btn-primary" href="{% url 'pages:contact' %}">Contact Us</a>
              </p>
            </div>
          </div>
        </div>
        {% for carousel in carousels %}
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#eee" />
              <image xlink:href="{{ carousel.image.url }}" x="0" y="0" width="100%" height="100%" />
            </svg>

            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="text-dark">{{ carousel.title }}</h1>
                <p class="text-dark">{{ carousel.body }}</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="{% url "pages:contact" %}">Contact Us</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev text-dark" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next text-dark" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!--                    Marketing messaging and featurettes
  ==================================================                    -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for feature in features %}
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title><rect width="100%" height="100%" fill="#777" />
              <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
              <image xlink:href="{{ feature.image.url }}" x="0" y="0" width="100%" height="100%" />
            </svg>

            <h2>{{ feature.title }}</h2>
            <p>{{ feature.intro }}</p>
            <p>
              <a class="btn btn-secondary" href="{% url "pages:feature_detail" feature.id %}">View details &raquo;</a>
            </p>
          </div>
        {% endfor %}
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      {% for page in pages %}
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h2>
            <p class="lead">{{ page.intro }}</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title><rect width="100%" height="100%" fill="#eee" />
              <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
              <image xlink:href="{{ page.image.url }}" x="0" y="0" width="100%" height="100%" />
            </svg>
          </div>
        </div>

        <hr class="featurette-divider" />
      {% endfor %}

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row g-3">
        {% for post in posts %}
          <div class="col-lg-12">
            <svg class="bd-placeholder-img" width="100%" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>{{ post.title }}</title><rect width="100%" height="100%" fill="transparent" />

              <image xlink:href="{{ post.image.url }}" x="0" y="0" width="100%" height="100%" />
              <foreignObject x="20" y="20" width="95%" height="100">
                <h2 xmlns="http://www.w3.org/2000/xhtml"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              </foreignObject>
              <foreignObject x="20" y="120" width="95%" height="180">
                <p class="text-halo text-halo-sm text-black" xmlns="http://www.w3.org/2000/xhtml">{{ post.body|truncatewords:100 }}</p>
              </foreignObject>
            </svg>
          </div>
        {% endfor %}
        <!-- /.col-lg-4 -->
      </div>
    </div>

    <hr class="featurette-divider" />
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end">
        <a href="#">Back to top</a>
      </p>
      <p>
        &copy; 2017–2021 Company, Inc. &middot; <a href="{% url 'pages:privacy' %}">Privacy</a> &middot; <a href="{% url 'pages:terms' %}">Terms</a>
      </p>
    </footer>
  </main>
{% endblock %}
